<h2>Recently viewed movies</h2>

<%- if user_signed_in? -%>
  <ul class="recently-viewed-container">
    <%- Viewing.recent_movies(current_user).each do |viewing| -%>
    <%- movie = viewing.viewable -%>
      <li class="recently-viewed">
        <%= link_to(movie) do %>
          <%= movie.title %>
          <%= "(#{movie.year})" %>
        <% end %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>