<div class='recently_added_movies'>
  <h2>Recently added movies</h2>
  <ul>
    <%- Movie.last(3).reverse.each do |movie| %>
      <li>
        <%= link_to(movie) do %>
          <%= movie.title %>
          <%= "(#{movie.year})" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>