<%= simple_form_for([@movie, @review]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, label: "Save review" %>
  </div>
<% end %>